/**
<div class="input-wrapper">
  <input placeholder="xyz@gmail.com" class="input" name="text" type="text" />
  </div>
 */

.input-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input {
    width: 170px;
    height: 40px;
    outline: none;
    padding-left: 15px;
    font-size: 0.7em;
    background-color: #fafaf7;
    border-radius: 6px;
    border: 1px solid #d0d7e1;
}