/*<div class="radio-wrapper-8">*/
/*<label class="radio-wrapper-8" for="example-8">*/
/*<input id="example-8" type="radio" name="radio-examples">*/
/*<span>Radio 8</span>*/
/*</label>*/
/*</div>*/

  label.radio-wrapper-8 {
     display: block;
     cursor: pointer;
 }
label.radio-wrapper-8 input {
    display: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
label.radio-wrapper-8 input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
label.radio-wrapper-8 input + span:not(:empty) {
    padding-left: 30px;
}
label.radio-wrapper-8 input + span:before, label.radio-wrapper-8 input + span:after {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
label.radio-wrapper-8 input + span:before {
    background: #D1D7E3;
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
label.radio-wrapper-8 input + span:after {
    background: #fff;
    transform: scale(0.78);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
label.radio-wrapper-8 input:checked + span:before {
    transform: scale(1.04);
    background: #5D9BFB;
}
label.radio-wrapper-8 input:checked + span:after {
    transform: scale(0.4);
    transition: transform 0.3s ease;
}
label.radio-wrapper-8:hover input + span:before {
    transform: scale(0.92);
}
label.radio-wrapper-8:hover input + span:after {
    transform: scale(0.74);
}
label.radio-wrapper-8:hover input:checked + span:after {
    transform: scale(0.4);
}
